.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.search-container {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #545454;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid #000000;
  padding: 5px 12px 7px 11px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
